<!DOCTYPE html>
<html>
<p>I've found the shorthand directory here: <span class="alertText"><%= shorthandDirectory %></span>. The output of this tool will be saved here: <span class="alertText"><%= outputDirectory %></span>. If you want to change the location of the output directory click on the button below.</p>
<input id="folderBrowseInput" class="folderBrowseInput" type="file" nwdirectory/>
<button id="folderBrowseButton" class="folderBrowseButton" type="submit">
	<img src="../assets/images/browseFolderIcon.png">
	<p style="display:inline-block;">change output directory</p>
</button>
<button id="okButton" type="submit">
	<p>nah, that looks good</p>
</button>
<p class="changedOutputDirMsg">Ok the new output directory will be here: </p>
<button id="changeOkButton" type="submit">
	<p>ok I'm done changing things</p>
</button>
</html>