<%= include('includes/top.tmpl') %>

    <div class="main">
    	<a href="http://www.stage.bbc.co.uk/news/resources/idt-10ed2839-67f0-4cc4-ad68-06e770e76efd" target="_parent">
	        <img src="<%= pathStatic %>/<%= vocab_dir %>/img/976/shorthand_launcher.jpg" alt="man standing in a snow covered field with an old factory at the background"/>
	        <div class="shorthand_launcher-core_container">
	            <div class="shorthand_launcher-core_content">
	            	<h1 class="shorthand_launcher_big_text">Somewhere to work</h1>
	                <h2 class="shorthand_launcher_less_big_text">What Britain Wants</h2>
	                <p class="shorthand_launcher_small_text"></p>
	                <div class="shorthand_launcher-button">Enter</div>
	            </div>
	        </div>
	    </a>
    </div>

<%= include('includes/bottom.tmpl') %>