.shorthand_launcher-core_container {
  position: relative;
}

.shorthand_launcher-core_content {
  position: absolute;
  bottom: 2em;
  width: 100%;
}

.shorthand_launcher_big_text, .shorthand_launcher_less_big_text{
  font-size: 4em;
  width: 100%;
  color: #FFF;
  text-align: left;
  margin-left: 3%;
  line-height: 50%;
  font-weight: 500;
  /*text-shadow: 3px 3px #000;*/
}
.shorthand_launcher_less_big_text{
  font-size: 3em;
  margin-bottom: 6%;
}

.shorthand_launcher-button {
  font-size: 1.8em;
  background: #CD0000;
  border: none;
  color: #FFF;
  text-decoration: none;
  width: 4em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0.3em 0;
}

.shorthand_launcher-button:hover {
  background:#810000;
}

@include respondMinMax(451px, 650px) {
  .shorthand_launcher_big_text {
    font-size: 2.5em;
  }
  .shorthand_launcher_less_big_text{
    font-size: 2em;
  }
}

@include respondMinMax(351px, 450px) {
  .shorthand_launcher_big_text {
    font-size: 2em;
  }
  .shorthand_launcher_less_big_text{
    font-size: 1.5em;
  }
}
@include respondMinMax(false, 350px) {
  .shorthand_launcher_big_text, .shorthand_launcher_less_big_text {
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    line-height: 100%;
  }
  .shorthand_launcher_less_big_text{
    font-size: 1em;
  }
  .shorthand_launcher-button {
    font-size: 1em;
  }
}

.shorthand_launcher_small_text{
  display: none;
}